body {
  padding: 0;
  margin: 0;

}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(168, 125, 72);

}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 10px 0px;
  padding: 10px 10px 10px 10px;

}

.navbar ul li {
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  font-weight: bold;
  color: aliceblue;

}

.navbar ul li a {
  text-decoration: none;
  color: antiquewhite;
  padding: 15px 25px 15px 25px;
}

.navbar a:hover {
  background-color: rgb(251, 248, 248);
  color: rgb(107, 5, 5);
  box-shadow: 1px;
  border-radius: 5px;

}


.main {
  background: url(stairs.jpeg) no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-color: rgb(160, 127, 84);


}


#intro {

  text-align: justify;
  padding-top: 250px;
  padding-left: 975px;
  color: black;
  font-size: 50px;
  border: 0;
  margin: 0;
  text-transform: capitalize;
  text-overflow: ellipsis;
  position: absolute;

}

.photos {
  display: flex;
  justify-items: auto;
  padding: 20px 20px 20px 20px;
  background-color: rgb(108, 85, 51);
  gap: 10px;

}

.first {
  float: inline-start;
  border-radius: 15px;
  padding-left: 10px;

}

.sec {
  float: none;
  border-radius: 15px;
  align-self: center;
}

.third {
  float: inline-end;
  border-radius: 15px;
  padding-right: 10px;
}

p {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  font-size: x-large;
  padding: 0px 25px 25px 25px;
  margin: 0;
  border: 0;
  background-color: rgb(160, 127, 84);
  color: blanchedalmond;

}